
.icon-check:before { content: '\2a'; } /* '*' */
.icon-angle-up:before { content: '\2d'; } /* '-' */
.icon-fire:before { content: '\30'; } /* '0' */
.icon-home:before { content: '\31'; } /* '1' */
.icon-users:before { content: '\32'; } /* '2' */
.icon-handshake-o:before { content: '\33'; } /* '3' */
.icon-bookmark-empty:before { content: '\34'; } /* '4' */
.icon-wrench:before { content: '\35'; } /* '5' */
.icon-envelope-open-o:before { content: '\36'; } /* '6' */
.icon-stethoscope:before { content: '\37'; } /* '7' */
.icon-sliders:before { content: '\38'; } /* '8' */
.icon-plus-squared-alt:before { content: '\39'; } /* '9' */
.icon-angle-left:before { content: '\3c'; } /* '<' */
.icon-angle-right:before { content: '\3e'; } /* '>' */
.icon-edit:before { content: '\41'; } /* 'A' */
.icon-mail:before { content: '\45'; } /* 'E' */
.icon-facebook-squared:before { content: '\46'; } /* 'F' */
.icon-instagram:before { content: '\49'; } /* 'I' */
.icon-location-1:before { content: '\4c'; } /* 'L' */
.icon-wpforms:before { content: '\4d'; } /* 'M' */
.icon-th-large:before { content: '\50'; } /* 'P' */
.icon-paper-plane:before { content: '\53'; } /* 'S' */
.icon-phone:before { content: '\54'; } /* 'T' */
.icon-user-o:before { content: '\55'; } /* 'U' */
.icon-whatsapp:before { content: '\57'; } /* 'W' */
.icon-angle-down:before { content: '\5f'; } /* '_' */
.icon-search:before { content: '\b0'; } /* '°' */
